Flask==3.0.3
Werkzeug==3.0.3
gunicorn==21.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
qrcode==7.4.2
psutil==5.9.8
yookassa==3.5.0
python-dateutil==2.9.0.post0
PyJWT==2.9.0
aiogram==3.2.0
Flask-Login==0.6.3
requests==2.32.3